#map {
  height:500px;
  width:500px;
}

#mapContainer { height: 100vh; }

.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}