#map {
  min-height:500px;
  width:500px;
}

.ui.menu {border:0;}

#mapContainer { height: 100vh; }

.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-body{position:relative;}

/* remove margin and padding around map */
.map-body .ui.segment {margin: 0px; padding:0px;}


#sidebar-toggle { 
  position: absolute;
  bottom: 7%;
  left: 2.5%;
  z-index: 5000;
}

#get-vendors {
  position: absolute;
  bottom: 13%;
  left: 2.5%;
  z-index: 5000;
}

.map-popup {
  min-height: 125px;
  min-width: 125px;
  padding:15px;
  text-align:center;
}
.map-popup, .map-popup h3 {
  color: black;
}
.map-popup p {margin:0;}
.map-popup h3 { margin: 5px 20px 50px 20px;}
.map-popup button { width: 100%;}

#instructions {
  position: absolute;
  color: black;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
}

.hidden{display:none;}
.visible{display:block;}