#map {
  min-height:500px;
  width:500px;
}

.ui.menu {border:0;}

#mapContainer { height: 100vh; }

.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-body{position:relative;}

/* remove margin and padding around map */
.map-body .ui.segment {margin: 0px; padding:0px;}


.map-body .ui.button { 
  position: absolute;
  bottom: 7%;
  left: 2.5%;
  z-index: 5000;
}

.mapboxgl-popup-content h3 {margin:5px;}

.map-popup, .map-popup h3 {
  color: black;
}