#mapPreview {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

#mapPreview .mapDescription {
  flex: 1;
}

#mapPreview .map {
  flex: 2;
}

@media (max-width:768px) {
  #mapPreview{
    flex-direction: column;
  }
}