.ui.menu {
  display:flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .ui.menu a{
    font-size:.85rem;
    justify-content: space-evenly;
  }
}
#navbar {
  padding-right: 2%;
  position: fixed;
  width: 100vw;
  background-color: #49fff0;
  border-bottom: 2px solid white;

}