body {
	background-color: #49fff0;
	background-size: cover;
}

.ui.form {
		width: 30%;
		padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
		max-width: 960px;
}

.ui.form .field>label {

}