* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/cell4.jpg'), no-repeat center;
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.form-wrap {
	width: 320px;
	background: linear-gradient(#3e3d3d, transparent 100%);
	padding: 40px 20px;
	box-sizing: border-box;
	position: fixed; left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}	
 
h1 {
	text-align: center;
	color: white;
	font-weight: normal;
	margin-bottom: 20px; 
}

input {
	width: 100%;
	background: none;
	border: 1px solid white;
	border-radius: 3px;
	padding: 6px 20px;
	box-sizing: border-box; 
	margin-bottom: 20px; 
	font-size: 1rem;
	color: white;
}

#button {
	background: rgb(110, 226, 217);
	border: 0; 
	cursor: pointer;
}

#button:hover {
	background: rgb(64, 148, 141);
	transition:	.6s;
}

::placeholder{color: white;}

/* Media Queries ---------------------- */

@media (max-width: 1024px) {
	body {
			width: 90%;
	}
}

@media (max-width:768px) {
	body {
			width: 50%;
	}
}