.ui.menu {
	background: transparent;

}

.ui.form {
		width: 500px;
		padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
		max-width: 960px;
}

.ui.form .field>label {

}

/* Media Queries */

@media (max-width: 1024px) {
	width: 100%;
}

@media (max-width:768px) {
	width: 100%;
	padding: 20px;
	border-top: none;
	
	.ui.menu {
		padding: 50px 25px 0;
		width: 100%;
		
	}

	* {
		font-size: 1.5rem;
	}
}

@media (max-width:550px) {


}



